body{
	margin: 0px;
	background-color: #f2f2f2;
}

#banner{ /*顶部的深色渐变*/
	margin: 0px;
	box-sizing: border-box; /*避免内部元素撑开盒模型*/
	height: 200px;
	background: linear-gradient(#212121, #373737);
	text-align: center;
	padding: 40px;
	/*
	写代码的时候发现，调节内部标题的margin居然会导致banner的margin改变。查找资料后发现，
	由于盒模型的奇妙机制，嵌套或相邻的块元素会共享margin。故banner里的head会导致banner的
	margin-top不为0，丑的要死。解决方法是设置padding,以后肯定很常用。
	不过现在没有设置内部元素的margin，直接调节banner的padding达到定位效果。
	*/
}

#banner h1{ /*顶上的大标题*/
	margin: 0px;
	color: white;
	font-size: 42px;
	font-weight: 700;
	text-shadow: #111111 0px 0px 10px; /*说实话我看不出来这个阴影*/
	font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
	letter-spacing: -1px;
}

#banner h2, #contact p{ /*顶上的英文小标题和下面即将出现的Github图标旁边的英文*/
	margin: 10px;
	color: #fff;
    font-size: 24px;
    font-weight: 300;
    text-shadow: #111111 0px 0px 10px; /*这个阴影也看不出来*/
    font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
}

#contact{ /*Github图标所在的区域*/
	background-color: #373737;
	height: 70px;
	width: 550px;
}

a{ /*去掉所有链接的下划线，包括后面的作业的*/
	text-decoration: none;
}

#contact img, #contact p{ /*Github图标和文字*/
	display: inline;
	color: #ffffff;
	vertical-align: middle;
	margin: 0px; /*实际上只对文字有效果，让文字紧贴图片	*/
}

#left{
	margin-top: 100px;
	margin-bottom: 100px;
	margin-left: auto;
    margin-right: auto;
    width: 550px;
    height: 1181px; /* +106px */
    border: 2px solid #373737;
}

#left table{
	width: 550px;
	border-collapse: collapse; /*记得：这个属性要放在table才有用，而不是放在td*/
	text-align: center; /*让单元格内容居中*/
}

#left th, #left td{ /*不写这个的话，单元格之间没有边界*/
	border: 2px #373737 solid;
	height: 50px;
}

footer{
    height: 89px;
    background: #212121;
    color: white;
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    text-shadow: #111111 0px 0px 10px; /*这个阴影也看不出来*/
    font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
}

.bold{
	font-weight: bold;
}